page-apresentacao {

    @media only screen and(max-width: 360px) {
        
        .btnCat{
            font-size: 10px;
        }
       
    }
    .navbar{
        height: 150px;
    }
    
    #titulo{
        margin: 0 auto;
    }
    .opcoesIniciais{
        height: 30px;
    }
    #fabFilmes{
        margin-top: -15px;
    }
    .img-slide
    {
        width: 240px;

    }
    
    .img-slides{
        height: 100;
    }
    .divIntro
    {
        height: 100px;
    }
    .botaoSeries{
        width: 60%;
        margin-top: -10px;
    }
   
}