page-apresentacao {

    .img-slide
    {
        width: 240px;

    }
    .h1-intro{ color: white;}
    .botaoFilmes{margin-top: -40px}
    .img-slides{
        height: 100;
    }
    .h3-Ultimos{color: white}

}