<!-- Cabeçalho -->
<ion-header>
  <ion-navbar color="preto">
    <button ion-button icon-only menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Maratonei
    </ion-title>
    <ion-buttons end>
      <button (click)="abriBusca()" ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
      <button (click)="irLogin()" ion-button icon-only>
        <ion-icon name="md-contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="preto" no-border-top>
      <ion-segment [(ngModel)]="filmes">
        <ion-segment-button value="Filmes" item-start>
          Filmes
        </ion-segment-button>
        <ion-segment-button class="btnSeg" value="Series">
          Series
        </ion-segment-button>
        <ion-segment-button value="Lista">
          Favoritos
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <div [ngSwitch]="filmes">
    <ion-list *ngSwitchCase="'Filmes'">
      <ion-toolbar>
            <ion-slides>
              <ion-slide>
                <p class="slide1" no-padding no-margin>
                  <button ion-button color="light" (click)="filmesEmCartaz()" clear small class="btnCat">Em Cartaz</button>
                  <button ion-button color="light" (click)="filmePopulares()" clear small class="btnCat">Populares</button>
                  <button ion-button color="light" (click)="listaGeneros(28)" clear small class="btnCat">Ação</button>
                  <button ion-button color="light" (click)="listaGeneros(12)" clear small class="btnCat">Aventura</button>
                </p>
              </ion-slide>
              <ion-slide>
                <p no-padding no-margin>
                  <button ion-button color="light" (click)="listaGeneros(35)" clear small class="btnCat">Comédia</button>
                  <button ion-button color="light" (click)="listaGeneros(80)" clear small class="btnCat">Crime</button>
                  <button ion-button color="light" (click)="listaGeneros(18)" clear small class="btnCat">Drama</button>
                  <button ion-button color="light" (click)="listaGeneros(14)" clear small class="btnCat">Fantasia</button>
                </p>
              </ion-slide>
              <ion-slide>
                <p no-padding no-margin>
                  
                  <button ion-button color="light" (click)="listaGeneros(10749)" clear small class="btnCat">Romance</button>
                  <button ion-button color="light" (click)="listaGeneros(878)" clear small class="btnCat">Ficção</button>
                  <button ion-button color="light" (click)="listaGeneros(10752)" clear small class="btnCat">Guerra</button>
                  <button ion-button color="light" (click)="listaGeneros(9648)" clear small class="btnCat">Mistério</button>
                </p>
                
              </ion-slide>
            </ion-slides>
          </ion-toolbar>
      <ion-card *ngFor="let filme of lista_filmes" no-margin margin-bottom style="width: 100%">
        <a (click)="abrirResumo(filme.title, filme.overview,filme)" >
        <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path" alt="{{filme.title}}">
        </a>
        <ion-card-content no-padding>
          <ion-grid>
            <ion-row>
              <ion-col col-9>
                <p>{{filme.title}}</p>
              </ion-col>
              <ion-col col-3>
                <ion-buttons end>
                  <a ion-link end class="linkDetalhes" (click)="irDetalhes(filme)">Detalhes</a>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      
    </ion-list>
    
    <ion-list *ngSwitchCase="'Series'">
      <ion-card *ngFor="let serie of lista_series" no-margin margin-bottom style="width: 100%">
        <img width="100%"  [src]="'https://image.tmdb.org/t/p/w500/' + serie.backdrop_path" alt="{{serie.name}}">
        <ion-card-content no-padding>
            <ion-grid>
             <ion-row>
               <ion-col col-9>
                 {{serie.name}}
               </ion-col>
               <ion-col col-3>
                 <ion-buttons end>
                   <a ion-link end class="linkDetalhes" (click)="irDetalhesSeries(serie)">Detalhes</a>
                 </ion-buttons>
               </ion-col>
             </ion-row>
           </ion-grid>
           </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'Lista'">
      <ion-item>
              
      </ion-item>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab small color="vermelho2" mini  id="botaoTop">+</button>

    <ion-fab-list side="left">
      <button ion-button small color="vermelho">Topo</button>
      <button ion-button small color="vermelho">Cinemas Proximos</button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
