<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="BarraTitulo">

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    
<ion-card class="corpoDetalhes" *ngIf="filme">
  <ion-card-content>
    <ion-card-title>
      <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.poster_path"/>
      <div class="card-title">{{filme.original_title}}</div>
      </ion-card-title>
    <p>
     
      {{filme.overview}}<br>
      Genero(s): {{filme.genres[0].name}}, {{filme.genres[1].name}}, {{filme.genres[2].name}}<br>
      <a href="{{filme.homepage}}" target="_blank">{{filme.homepage}}</a>
    </p>
  </ion-card-content>
  
  <ion-card>
    <ion-card-content>
      <h5>Confira o Trailer</h5>
      <p *ngFor="let video of lista_videos">
        {{protecaodeVideo(video.key)}}
        <iframe
            width="300" height="315"
            [src] = "urlVideoSegura"
            frameborder="0" >
        </iframe>
        
      </p>
    </ion-card-content>
  </ion-card>




</ion-card>
    